.ins-buttons{
   border: 1px;
   border-color: 'red';
}
.datepic{
   border: '2px solid red';
}
.datePicker{
   border: '2px solid ';
   border-color: aqua;
}


.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  height: auto;
  border: '.2px solid';
  border-color: #0059FF;
  border-radius: 5%;
 
  
}

.odd {
   background-color: #e3ebf3;
 }
 
 .even {
   background-color: #ffffff;
 }

 .even:hover{
   background-color:#ffffff ;
 }

 .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

 .head{
  background-color: #233044;
 
  color: rgb(242, 237, 237);
  font-weight: 'bolder';
  font-size: '5px';
  justify-content: center;
  border:1px solid #ffffff;
  
 }


 .dialogbtn{
  background-color: '#0C134F';
    color: white;
   font-size: "14px";
    font-weight: "bold";
    padding: "10px 20px";
   box-shadow:"12px"
 }
.tabs{
  color: yellow
}